<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="layouts/layout_base::head">
        <title>create</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul th:replace="layouts/layout_base :: nav"></ul>
        <div class="container mt-4">
            <div class="col-sm-8">
                <form th:action="@{/POST/posts}" method="post" enctype="multipart/form-data" th:object="${post}">
                    <div class="card">
                        <div class="card-header">
                            <h3>Post</h3>
                            <div class="card-body">

                                <div class="form-group">
                                    <input type="hidden" class="form-control" name="id_post" th:field="${post.id_post}"/>
                                    
                                    <label class="form-label">Título</label>
                                    <input type="text" class="form-control" name="title" th:field="*{title}" id='title'/>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
                                    
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Contenido</label>
                                    <textarea class="form-control" name="contents" th:field="*{contents}" id="contents"></textarea>
                                    <small class="form-text text-danger" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></small>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Categoria</label>
                                    <input type="text" class="form-control" name="category" th:field="*{category}" id="category"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="img">Imagen</label>
                                    <input type="file" class="form-control" name="file" id="img"/>
                                </div>
                                <div class="form-group">
                                    
                                    <label class="form-label">Fecha</label>
                                    <input type="date" class="form-control" name="creation_date" placeholder="dd:mm:aaaa" th:field="*{creation_date}" id="creation_date"/>
                                </div>

                            </div>
                            <div class="card-footer">
                                
                                <button type="submit" name="save" class="btn btn-primary btn btn-block">Guardar</button>                            
                            </div>
                        </div>
                    </div>
                </form>
                <footer th:replace="layouts/layout_base :: footer"></footer>

            </div>
        </div>
    </body>
</html>
