<!DOCTYPE html>

<html>
    <head xmlns:th="http://www.thymeleaf.org" th:replace="layouts/layout_base::head">
        <title>Posts</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container-fluid">
            <ul th:replace="layouts/layout_base :: nav"></ul>
            <br>
            <br>
            <div class="row justify-content-center">
                <div class="container-fluid justify-content-center col-sm-6 col-md-6 col-lg-6 col-xl-6" style="padding-left: 60px;width: 600px; margin: 10px; height: 600px;">
                    <div th:each="post : ${posts}">
                        <div class="card bg-light">
                            <div class="card-header bg-dark text-white text-center" th:text="${post.title}"></div>
                            <div class="card-body ">
                                <h5 class="card-text text-center" th:text="${post.category}"></h5> 
                            </div>
                            <div>
                                <img class="img-thumbnail rounded float-center d-flex mr-auto ml-auto" 
                                     th:src="@{'/images/'+ ${post.img}}"
                                     th:alt="${post.img}"
                                     style="max-width: 25%;">
                            </div>
                            <div class="card-body ">
                                <h6 class="card-text text-center" th:text="${post.creation_date}"></h6> 
                            </div>
                            <br>
                        </div>
                    <br>
                    <br>
                    </div>
                </div> 
            <div>

        </div>
    </body>
</html>